
<h2>Orders</h2>
<a href="/order/new" class="text-right">Start new order</a>

<table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Order<th>
      <th scope="col">Restaurant</th>
      <th scope="col">Invited</th>
      <th scope="col">Price</th>
      <th scope="col">Status</th>
      <th scope="col">Actions</th>
    </tr>  
    </thead> 
   <tbody>
    <% @orders.each do |order| %>
      <tr>
          <td><%= order.order_type %></td>
          <td><%= order.restaurant %></td>
          <td><%= order.invited_users %></td>
          <td><%= order.order_status %></td>
          <td>

          <%= link_to('view',{:action => 'toitem',:id => order.id}) %>
          <%= link_to('finish',{:action => 'update',:id => order.id}, method: :post) %>
          <%= link_to('cancel',{:action => 'destroy',:id => order.id}) %>
         
          </td>
      </tr>
    <% end %>
    </tbody>

</table>
