<h1>Order#index</h1>
<p>Find me in app/views/order/index.html.erb</p>
<h2>Orders</h2>
<a href="/order/new">add order</a>

<table >
    <tr>
      <th>Order<th>
      <th>Restaurant</th>
      <th>Invited</th>
      <th>Price</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>   

    <% @orders.each do |order| %>
      <tr>
          <td><%= order.order_type %></td>
          <td><%= order.restaurant %></td>
          <td><%= order.invited_users %></td>
          <td><%= order.order_status %></td>
          <td>

          <%= link_to('view',{:action => 'toitem',:id => order.id}) %>
          <%= link_to('finish',{:action => 'update',:id => order.id}, method: :post) %>
          <%= link_to('cancel',{:action => 'destroy',:id => order.id}) %>
         
          </td>
      </tr>
    <% end %>

</table>
