
<div class="container">

  
<div class="row">
<%= form_with scope: :group, :url => { :action => "addmember", :group_id =>params[:id]},:clss=>"col-md-6",local: true do |form| %>
    <label >Member Email:</label>
    <div class="form-group">
    <%= form.text_field :email ,:class=>"form-control"%>
    </div>

    <%= form.submit "add",:class=>"btn btn-primary" %>
  <% end %>

  </div>

<% @groupmembers.each do |member| %>
<div class="row" style="margin:10px;">
<div class="col-md-6">
<%=member.user_email  %>
</div>
<%= link_to "delete", "/groups/#{params[:id]}/deletemember/?default_id=#{member.id}", :class=>"btn  btn-danger col-md-4"%> 
</div>
<% end %>
  

  <div class="row">
  <%= link_to "Show All Groups", "/groups",:class=>"btn btn-lg btn-primary"%>

  </div>
  </div>

  
