<div id="search">
<%= form_tag('/friendships' , method: "get") do %>
  <%= label_tag(:search, "Search for:") %>
<%= text_field_tag :search, params[:search], placeholder: "Search Users",list:"usersEmails" %>
  <datalist id="usersEmails">
  <label> or select one from the list:
  <%= select_tag :search,params[:search] %>
    <% @users.each do |useremail| %>
      <option value= "<%= useremail.email %>" ></option> 
    <% end %>
    </select>
   </label>
  </datalist>
  <%= submit_tag("Search") %>
<% end %>
</div>

<div id="searchResult">
   <h3>Search Result</h3>
  <% if @usersearch != nil%>
    <% @usersearch.each do |user|%>
      <b> <%= user.email %></b>
     <%= link_to 'Add Friend',friendships_path(),:friend_id => user.id,method: :post %>
    <%end%>
  <% end%>
</div>

<div id="myFriends">
 <% if @friendships != nil %>
   <h3>My Friends</h3>
     <% @friendships.each do |user|%>
        <h2> <%= user.email %></h2>
     <%end%>
   <% end %>
</div>