<% if user_signed_in? %>
  <li>
  <div class="btn-group" >
  <%= link_to('Logout' , destroy_user_session_path, method: :delete  )    %>        
  </div>
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>  
  </li>
<% end %>

<h1>Friends Activity</h1>


<table class="table table-striped">
    <tr>
      <th>E-mail<th>
    </tr>  

<% @friendsids.each do |friend| %>
  
  <tr>
  <% friend %> 
  <td> <%= @friendmail=User.find(friend).email%> </td>
  <% @order=Order.where(:user_id => friend).last%>
   <td> created </td>
   <td> <%= @order.order_type %> </td>
   <td> from</td>
   <td> <%= @order.restaurant %> </td>  
  </tr>
  <% end %>
</table >
<h3>Latest Orders</h3>
 <table class="table table-striped">
  <% @orders.last(2).each do |order| %>
    <tr>
    
    <td><%= order.order_type %><td/>
    <td>on</td>
    <td><%= order.created_at %></td>

    </tr>
    <% end %>
</table>