<% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>  
  </li>
<% end %>


<h1>User#index</h1>
<h1>Friends Activity</h1>

<% @friendsids.each do |friend| %>
  
  <tr>
  <td> <% friend %> </td>
  <td> <%= @friendmail=User.find(friend).email%> </td>
  <% @order=Order.where(:user_id => friend).last%>
  created
  <%= @order.order_type %>
  from
  <%= @order.restaurant %>
<br>  
  </tr>
  <% end %>

  <% @orders.each do |order| %>
    <tr>
    <%= @order.restaurant %>
  <br>  
    </tr>
    <% end %>
