<!DOCTYPE html>
<html>
  <head>
    <title>YallaNotlob</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="up">
      <div class="topnav">
            
          <div class="left">
              <a class="active" href="http://localhost:3000">Home</a>
              <a href="#friends">Friends</a>
              <a href="#groups">Groups</a>
              <a href="http://localhost:3000/order/index">Orders</a>
            
          </div>   
          <div class="right">
              <a href="#" class="notification">
                      <span>Inbox</span>
                      <span class="badge">3</span>
                    </a>
             
             <a href="#userame">husername</a> 
             <a href="#logout">Logout</a>
      </div>
      </div>
  </div>
    <%= yield %>
  </body>
</html>
