<!DOCTYPE html>
<html>
  <head>
    <title>YallaNotlob</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="up">
      <div class="topnav">
            
          <div class="left">
              <a class="active" href="http://localhost:3000">Home</a>
              <a href="http://localhost:3000/friendships/new">Friends</a>
              <a href="http://localhost:3000/groups">Groups</a>
              <a href="http://localhost:3000/order/index">Orders</a>
            
          </div>   
          <div class="right">
              <a href="#" class="notification">
                      <span>Inbox</span>
                      <span class="badge">?</span>
                    </a>
             <a href="http://localhost:3000">user name</a> 
             <% if user_signed_in? %>
                <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
             <% else %>
              <%= link_to('Login', new_user_session_path)  %>  
              <% end %>
      </div>
      </div>
  </div>
    <%= yield %>
  </body>
</html>
